body{
	background: #EAEAEA;
	-moz-user-select: none; 
	-webkit-user-select: none;
	-ms-user-select: none;
}
.adm-banner{
	border: 0;
	background: #EAEAEA;
}
.adm-banner-pic{
	width: 100%;
}
.adm-footer{
	border: 0;
	background: #EAEAEA;
	width: 100%;
	text-align: center;
}
.adm-page-center{
	width: 100%;
	height: 100%;
}
.adm-button{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
}
.adm-menu-button{
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	margin: 3px;
}
.adm-label{
	font-family: Consolas;
	font-size: 20;
}
.adm-label-err{
	font-family: Consolas;
	font-size: 16;
	color: #FF0000;
	text-align: center;
}